# Node modules folder
/node_modules/

# TypeScript compiled files
/dist/

# TypeScript declaration files (if you're generating .d.ts files)
*.d.ts

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/

# Environment files
.env